/* Layout */
html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: linear-gradient(50deg, #ff4169, #7c26f8);
  background-attachment: fixed;
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.5em;
}

/* NavNar Styles */
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  color: white;
}

.logo {
  color: white;
  font-size: 2em;
}

nav a:hover {
  color: #a1b2c3;
  text-decoration: none;
}

nav img {
  height: 30px;
  width: 30px;
}

/* Body Styles */

.img-fluid {
  min-height: 64px;
  min-width: 64px;
}

/* Footer Styles */
footer {
  height: 40px;
}

footer p {
  color: white;
  text-align: center;
  font-size: 0.6em;
  line-height: 40px;
}

/* @media { */
/* Ajustes de CSS para tamanhos de tela específicos */
/* } */
